<div>
    <div class="top-row">
        <div class="top-row-col-1">
            <div class="top-row-cols"><i class="fa-solid fa-location-dot icon-color"></i> 127/5 Mark, street, New york</div>
            <div class="top-row-cols"><i class="fa-solid fa-envelope icon-color"></i> 127/5 Mark, street, New york</div>
        </div>
        <div class="top-row-col-2">
            Opening Hours: Monday to Satuday - 8 Am to 5 Pm
        </div>
    </div>
    <div class="top-row-2">
        <div>
            <img src ="../../assets/logo.png" />
        </div>
        <div class="top-row-2-cols">
            <div class="top-row-2-cols">
                <i class="fa-solid fa-user icon-color"></i>
                <div>
                    <p>Need Help? call us Free</p>
                    <h2>321 325 5678</h2>
                </div>
            </div>
            <button class="btn btn-warning">Apply now</button>
        </div>
    </div>
    
    <div class="top-row-3">
        <nav>
            <ul>
                <li><a [routerLink]="['/']">HOME</a></li>
                <li><a [routerLink]="['about']">ABOUT US</a></li>
                <li><a [routerLink]="['cours']">COURSES</a></li>
                <li><a [routerLink]="['event']">EVENTS</a></li>
                <li><a [routerLink]="['/']">OUR TEACHERS</a></li>
                <li><a [routerLink]="['/']">BLOG</a></li>
                <li><a [routerLink]="['/']">CONTACT</a></li>
                <li><a [routerLink]="['/']">SHOP</a></li>
            </ul>
        </nav>
        <div class="top-row-3-col-2">
            <i class="fa-solid fa-magnifying-glass row3-icon"></i>
            <i class="fa fa-shopping-bag row3-icon"></i>
        </div>
    </div>
</div>