<div class="container-fluid footer-top">
    <div class="container">
    <div class="row">

        <div class="col-lg-3">
            <img src="../../assets/logo-2.png" />
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora non, eius vel aliquam voluptate at quam explicabo accusamus enim repellat laborum, consequuntur voluptatem!
            </p>
        </div>
        <div class="col-lg-3 cols-2">
            <h5>Sitemap</h5>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Home</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;About us</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Courses</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;News</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Event</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Gallery</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Shop</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Teachers</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Support</li>
                        <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Privacy</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-2">
            <h5>Support</h5>
            <ul>
                <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;FAQS</li>
                <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Privacy</li>
                <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Policy</li>
                <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Support</li>
                <li><i class="fa-solid fa-angle-right"></i>&nbsp;&nbsp;Documentation</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h5>Contact Us</h5>
            <ul>
                <li><i class="fa-solid fa-house-chimney icon-color"></i>&nbsp;&nbsp;143 castle road 517 district, kiyev port south canada</li>
                <li><i class="fa-solid fa-phone icon-color"></i>&nbsp;&nbsp;+3 123 456 789</li>
                <li><i class="fa-regular fa-envelope icon-color"></i>&nbsp;&nbsp;info@yourmail.com</li>
            </ul>
        </div>
    </div>
</div>

</div>
<div class="container-fluid">
    <div class="row top-row-2">
        <div class="col-lg-6 text-center">
            &copy; Copyrights 2024 Edubin All rights reserved.
        </div>
        <div class="col-lg-6 text-center">
            Designed by <span>Noorullah</span>
        </div>
    </div>
</div>
