<div class="ki">
    <div class="k">
    <h2 style="color: gold">About Us</h2>
    <h6 style="color: gold">Home/About us</h6>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
           
        </div>
    <div class="col-lg-8">
        <div class="contleft">
   <h5>About us</h5>
   <h2>Welcome to</h2>
   <h2>Edubin</h2>
   <p>
    Lorem ipsum gravida nibh vol volit auctor aliquetn sollicitudirem
    quibibendum auci elit cons equat ipsutis som nibh id olit Duis sed
    odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
    accumsan ipsum velit. Nam noc tollus a odio tineidunt.
   </p>
   <p>Duis sod odio sit amot nibh vul putato cursus a sit amot mauris.
    Morbi accumsan ipsum velit Nam nec tellus a odio tincidunt .
    quibibendum auci elit cons equat ipsutis sem nibh id elit- Duis sed
    odio sit amet nibh vulputate cursus a sit amet mauris.
   </p>
    </div>
    
    <div class="contright">
        <img src="https://thepixelcurve.com/html/edubin/images/about/about-2.jpg" height="300px" width="300px">
    </div>
    </div>
    
    
<div class="col-lg-2">
    
</div>
</div>
</div>
<br>
<div class="container">
<div class="row">
<div class="col-lg-2">
   
</div>
<div class="col-lg-8">
<div class="row">
<div class="col-lg-4">
    <h1>01</h1>
 <h4>Why Choose us</h4>
 <p>Kousikskdijohkhjgjhghjh
    <br>gksdjflsdkfosdfkjldsl</p>
</div>
<div class="col-lg-4">
    <h1>02</h1>
    <h4>Our Mission</h4>
    <p>Kousikskdijohkhjgjhgh
        <br>jhgksdjflsdkfosdfkjldsl</p>
</div>
<div class="col-lg-4">
    <h1>03</h1>
    <h4>Our Vision</h4>
    <p>Kousikskdijohkhjgjhgh
        <br>jhgksdjflsdkfosdfkjldsl</p>
</div>
</div>


<div class="col-lg-2">

</div>
</div>
</div>
</div>
<br>
<div class="row n">
<div class="col-lg-2">

</div>
<div class="col-lg-8">
<div class="row mo">
<div class="col-lg-3">
<h2 class="m">30,000+</h2>
<p style="color: white;">Sandara Amount</p>
</div>
<div class="col-lg-3">
<h2 class="m">30,000+</h2>
<p style="color: white;">Sandara Amount</p>
</div>
<div class="col-lg-3">
<h2 class="m">30,000+</h2>
<p style="color: white;">Sandara Amount</p>
</div>
<div class="col-lg-3">
<h2 class="m">30,000+</h2>
<p style="color: white;">Sandara Amount</p>
</div>
</div>
</div>
<div class="col-lg-2">

</div>
</div>
<br>
<div class="container">
<div class="row">
<div class="col-lg-2">
   
</div>
<div class="col-lg-8">

<h5>Our Teachers</h5>
<h2>Featured Teachers</h2>
<h1>Why Choose Us</h1>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1312447551/photo/business-woman-at-office-stock-photo.jpg?s=612x612&w=0&k=20&c=AE2Pew-VIYVSmY4wOZcK6bPV2AKgbwSRUVGMnFhyS-Y=">
                    <h5>Strategy & Research</h5>
                        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1312447551/photo/business-woman-at-office-stock-photo.jpg?s=612x612&w=0&k=20&c=AE2Pew-VIYVSmY4wOZcK6bPV2AKgbwSRUVGMnFhyS-Y=">
                    <h5>Strategy & Research</h5>
                        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1312447551/photo/business-woman-at-office-stock-photo.jpg?s=612x612&w=0&k=20&c=AE2Pew-VIYVSmY4wOZcK6bPV2AKgbwSRUVGMnFhyS-Y=">
                    <h5>Strategy & Research</h5>
                        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
                </div>
            </div>
             <div class="col-lg-3">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1312447551/photo/business-woman-at-office-stock-photo.jpg?s=612x612&w=0&k=20&c=AE2Pew-VIYVSmY4wOZcK6bPV2AKgbwSRUVGMnFhyS-Y=">
                    <h5>Strategy & Research</h5>
                        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
                </div>
            </div>
        </div>
<div class="col-lg-2">

</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-2">
   
</div>
<div class="col-lg-8">
        <br>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz5BrgZ-1BJJn2Z8R4IJOrbyay_a5-YKM4Vw&usqp=CAU" />
                       <h5>Strategy & Research</h5>
                           <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
                   </div>
            </div>
            <div class="col-lg-3">
            <div class="card">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz5BrgZ-1BJJn2Z8R4IJOrbyay_a5-YKM4Vw&usqp=CAU" />
                <h5>Strategy & Research</h5>
                    <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
            </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz5BrgZ-1BJJn2Z8R4IJOrbyay_a5-YKM4Vw&usqp=CAU" />
                       <h5>Strategy & Research</h5>
                           <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
                   </div>
            </div>
             <div class="col-lg-3">
                     <div class="card">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz5BrgZ-1BJJn2Z8R4IJOrbyay_a5-YKM4Vw&usqp=CAU" />
                <h5>Strategy & Research</h5>
                    <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
            </div>
            </div>
        </div>
<div class="col-lg-2">

</div>
</div>
</div>
