<div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="../../assets/thumbnail.jpg" alt="Image">
            <div class="carousel-item__content container-fluid">
                <div class="container px-0">
                    <div class="d-flex flex-column align-items-start">
                        <p class="text-capitalize font-weight-bold w-50">Choose the right theme for education</p>
                        <p class="w-50">Some representative placeholder content for the second slide.</p>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-warning">Apply now</button>
                        <button class="btn btn-light">learn more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="../../assets/thumbnail2.jpg" alt="Image">
            <div class="carousel-item__content container-fluid">
                <div class="container px-0">
                    <div class="d-flex flex-column align-items-start">
                        <p class="text-capitalize font-weight-bold w-50">Best LMS Education Wordpress theme</p>
                        <p class="w-50">Lorem dummy text of the printing and typesetting industry lorem ipsum has been
                            the industry's standard dummy text.</p>
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-warning">Apply now</button>
                        <button class="btn btn-light">learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="optionSection" class="container-fluid my-0 py-0 text-white">
    <div class="container p-0">
        <div id="optionSectionWrapper" class="row m-0 w-100 darkblue">
            <div id="optionSectionTitle" class="col-sm col-lg-4 p-2 text-center">
                <span>Best plaform to learn everything</span>
            </div>
            <div id="optionSlider"
                class="col-sm col-lg-7 offset-lg-1 p-2 d-flex align-items-center justify-content-center">
                <div>
                    <div class="slider__item--custom">
                        <div class="slider__content--custom bg-pink">
                            <img src="../../assets/courses.png" alt="" class="p-2">
                            <span class="p-2">Courses</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slider__item--custom">
                        <div class="slider__content--custom bg-yellowgreen">
                            <img src="../../assets/programs.png" alt="" class="p-2">
                            <span class="p-2">Programs</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slider__item--custom">
                        <div class="slider__content--custom bg-lightpink">
                            <img src="../../assets/events.png" alt="" class="p-2">
                            <span class="p-2">Events</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slider__item--custom">
                        <div class="slider__content--custom bg-lightblue">
                            <img src="../../assets/admissions.png" alt="" class="p-2">
                            <span class="p-2">Admissions</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="slider__item--custom">
                        <div class="slider__content--custom bg-green">
                            <img src="../../assets/notice.png" alt="" class="p-2">
                            <span class="p-2">Notice</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="aboutSection" class="container p-0">
    <div class="row w-100 m-0">
        <div class="col-lg">
            <div class="mr-5">
                <div class="title__wrapper--secondary text-darkblue yellowline--horizontal">
                    <span>About Us</span>
                </div>
                <div class="title__wrapper--primary">
                    <span>Welcome to Edubin</span>
                </div>
                <div>
                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons
                        equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi
                        accumsan ipsum velit. Nam nec tellus
                        a odio tincidunt mauris. </p><br>
                    <p>Buci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                        amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt mauris</p>
                    <br>
                    <p>Auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                        amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt mauris.</p>
                </div>
                <div class="pt-3">
                    <button class="btn--custom btn-orange">Explore More</button>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="title__wrapper--secondary text-darkblue yellowline--horizontal "></div>
            <div class="shadow rounded-0 position-relative">
                <div class="overlay smoke__overlay"></div>
                <div class="d-flex p-5 ml-4 flex-column position-relative">
                    <div class="my-2 pb-3">
                        <div class="d-block text-primary--custom"><span>Upcoming Events</span></div>
                        <div class="d-block text-secondary--custom"><span>World University</span></div>
                        <div class="d-flex align-items-center my-1">
                            <i class="far fa-calendar-alt text-yellow mr-2"></i>
                            <span class="text-gray">12:00 AM To 11:59 PM</span>
                        </div>
                    </div>
                    <div class="my-2 pt-3 border-top">
                        <div class="d-flex align-items-center my-1">
                            <i class="far fa-clock text-yellow mr-2"></i>
                            <span class="text-gray">31.May</span>
                        </div>
                        <div class="d-block text-secondary--custom"><span>February Education Conferences</span></div>
                        <div class="d-flex align-items-center my-1">
                            <i class="far fa-calendar-alt text-yellow mr-2"></i>
                            <span class="text-gray">12:00 AM To 1:30 AM</span>
                        </div>
                    </div>
                    <div class="my-2 pt-3 border-top">
                        <div class="d-block text-secondary--custom"><span>The Games Education Summit</span></div>
                        <div class="d-flex align-items-center my-1">
                            <i class="far fa-calendar-alt text-yellow mr-2"></i>
                            <span class="text-gray">12:00 AM To 11:59 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 my-5">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-lg darkblue text-white px-5 py-3 py-md-5 m-sm-0">
                <div class="d-block text-secondary--custom my-3">Apply for Fall 2021</div>
                <div class="d-block my-3">
                    <p>Gravida nibh vel velit auctor aliquetn sollicitudirem sem quibibendum auci elit cons equat
                        ipsutis sem nibh id elituis sed odio sit amet nibh vulputate cursus equat ipsutis.</p>
                </div>
                <div class="my-2">
                    <button class="btn--custom btn-orange">Apply Now</button>
                </div>
            </div>
            <div class="col-lg bg-blue--custom text-white px-5 py-3 py-md-5 m-sm-0">
                <div class="d-block text-secondary--custom my-3">Apply for Scholarship</div>
                <div class="d-block my-3">
                    <p>Sollicitudirem sem quibibendum auci elit cons equat ipsutis sem nibh id elituis sed odio sit amet
                        nibh vulputate cursus equat ipsutis gravida nibh vel velit auctor aliquetn.
                    </p>
                </div>
                <div class="my-3">
                    <button class="btn--custom btn-orange">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- courses section -->
<div id="courseSection" class="container-fluid px-0 py-5">
    <div class="container">
        <div class="title__wrapper--secondary text-darkblue yellowline--horizontal ">
            <span>Our Courses</span>
        </div>
        <div class="title__wrapper--primary">
            <span>Featured Courses</span>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-end mr-3">
            <div id="prevArrow" class="px-2 py-1 rounded border mr-2">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div id="nextArrow" class="px-2 py-1 rounded border">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <br>
        <div id="courseSlider" class="courseSlider">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
</div>

<!-- <app-card></app-card> -->

<div id="facilitySection" class="container-fluid p-0 mx-0 mb-5 row">
    <div id="facilityVideo" class="col-md p-0">
        <div class="d-flex align-items-center justify-content-center h-100">
            <button id="btnShowVideo" class="btn border-0 rounded-circle p-3 text-white bg-yellow" data-toggle="modal"
                data-target="#videoModal">
                <i class="fas fa-play"></i>
            </button>
        </div>
    </div>
    <div id="facilityContent" class="col-md text-white">
        <div class="p-4 m-lg-5">
            <div class="text-primary--custom mb-3">
                Our Facilities
            </div>
            <div class="d-flex align-items-center justify-content-start my-2">
                <img src="../../assets/facilites_certificate.png" alt="" width="70" height="70" class="mr-4">
                <div>
                    <div class="text-secondary--custom my-3">Global Certificate</div>
                    <div class="my-3">Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem
                        quibibendum sem nibhutis.</div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-start my-2">
                <img src="../../assets/facilites_support.png" alt="" width="70" height="70" class="mr-4">
                <div>
                    <div class="text-secondary--custom my-3">Alumni Support</div>
                    <div class="my-3">Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem
                        quibibendum sem nibhutis.</div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-start my-2">
                <img src="../../assets/facilites_book.png" alt="" width="70" height="70" class="mr-4">
                <div>
                    <div class="text-secondary--custom my-3">Books & Library</div>
                    <div class="my-3">Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem
                        quibibendum sem nibhutis.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-transparent m-0 p-0 d-flex flex-column border-0">
                <div class="align-self-end">
                    <button id="btnCloseVideo" type="button" class="btn border-0 float-right" data-dismiss="modal"
                        aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <!-- iframe -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bRRtdzJH1oE"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="row">
        <div class="col-lg pb-5 pb-lg-0">
            <div class="title__wrapper--secondary text-darkblue yellowline--horizontal ">
                <span>Teachers</span>
            </div>
            <div class="title__wrapper--primary">
                <span>Meet our Teachers</span>
            </div>
            <div>
                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat
                    ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan
                    ipsum velit. Nam nec tellus a
                    odio tincidunt mauris.</p>
                <p>Auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                    amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt mauris
                </p>
                <p>Buci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
                    amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt mauris</p>
            </div>
            <div class="my-3">
                <button class="btn--custom btn-orange">Career with Us</button>
            </div>
        </div>
        <div id="teachersContent" class="col-lg">
            <div class="row row-cols-sm-2">
                <div class="col-sm p-lg-0">
                    <div class="card__wrapper--teacher card border-0">
                        <img class="card-img-top rounded" src="../../assets/teacher_1.jpg" alt="">
                        <div class="card__content--teacher">
                            <div class="w-75">
                                <div class="card__detail--teacher rounded flex-column">
                                    <span class="text-darkblue font-weight-bold">Darmian Green</span>
                                    <span class="text-gray">Chairman</span>
                                    <div class="text-darkblue card__sociallink--teacher">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-linkedin-in"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-lg-0">
                    <div class="card__wrapper--teacher card border-0">
                        <img class="card-img-top rounded" src="../../assets/teacher_2.jpg" alt="">
                        <div class="card__content--teacher">
                            <div class="w-75">
                                <div class="card__detail--teacher rounded flex-column">
                                    <span class="text-darkblue font-weight-bold">Rebeak Alig</span>
                                    <span class="text-gray">Art Teacher</span>
                                    <div class="text-darkblue card__sociallink--teacher">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-linkedin-in"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-lg-0">
                    <div class="card__wrapper--teacher card border-0">
                        <img class="card__image--teacher card-img-top rounded" src="../../assets/teacher_3.jpg" alt="">
                        <div class="card__content--teacher">
                            <div class="w-75">
                                <div class="card__detail--teacher rounded flex-column">
                                    <span class="text-darkblue font-weight-bold">Hanna Ben</span>
                                    <span class="text-gray">Teacher</span>
                                    <div class="text-darkblue card__sociallink--teacher">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-linkedin-in"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-lg-0">
                    <div class="card__wrapper--teacher card border-0">
                        <img class="card-img-top rounded" src="../../assets/teacher_4.jpg" alt="">
                        <div class="card__content--teacher">
                            <div class="w-75">
                                <div class="card__detail--teacher rounded flex-column">
                                    <span class="text-darkblue font-weight-bold">Mark Alen</span>
                                    <span class="text-gray">Teacher</span>
                                    <div class="text-darkblue card__sociallink--teacher">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-instagram"></i>
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-linkedin-in"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- review section -->
<div id="reviewSection" class="container-fluid px-0 py-5 position-relative text-white">
    <div class="overlay blue__overlay"></div>
    <div class="container position-relative">
        <div class="title__wrapper--secondary">
            <span>Feedback</span>
        </div>
        <div class="title__wrapper--primary pb-5">
            <span>What Students Say</span>
        </div>
        <div id="reviewContent">
            <div>
                <div class="media p-4">
                    <div class="position-relative">
                        <img src="../../assets/student_1.jpg" class="mr-3" alt="..." width="80" height="80">
                        <div class="icon__wrapper--circle bg-yellow text-darkblue">
                            <i class="fas fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="media-body container">
                        <p>Will you do the same for me?. Heaven is jealous of our love, angels are crying from up above.
                            Yeah, you take me to utopia.</p>
                        <h5 class="mt-0">Monica Blew</h5>
                        <p class="mt-0">UX Designer</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="media p-4">
                    <div class="position-relative">
                        <img src="../../assets/student_2.jpg" class="mr-3" alt="..." width="80" height="80">
                        <div class="icon__wrapper--circle bg-yellow text-darkblue">
                            <i class="fas fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="media-body container">
                        <p>Will you do the same for me?. I can feel a phoenix inside of me. Heaven is jealous of our
                            love, angels are crying from up above. Yeah, you take me to utopia.</p>
                        <h5 class="mt-0">James Smith</h5>
                        <p class="mt-0">App Developer</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="media p-4">
                    <div class="position-relative">
                        <img src="../../assets/teacher_1.jpg" class="mr-3" alt="..." width="80" height="80">
                        <div class="icon__wrapper--circle bg-yellow text-darkblue">
                            <i class="fas fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="media-body container">
                        <p>Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix
                            inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take
                            me to utopia.</p>
                        <h5 class="mt-0">Conan Doyle</h5>
                        <p class="mt-0">CFO Apple Corp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bookStoreSection" class="container-fluid px-0 py-5">
    <div class="container position-relative">
        <div class="py-4 d-flex align-items-center justify-content-lg-between flex-column flex-lg-row">
            <div class="align-self-start">
                <div class="title__wrapper--secondary text-darkblue yellowline--horizontal">
                    <span>Book Store</span>
                </div>
                <div class="title__wrapper--primary pb-4">
                    <span>Publications</span>
                </div>
            </div>
            <div class="align-self-start align-self-lg-auto">
                <button class="btn--custom btn-orange">All Products</button>
            </div>
        </div>
        <div id="bookStoreContent" class="row row-cols-4 mt-4">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card border-0 rounded-0">
                    <div class="position-relative">
                        <div class="overlay"></div>
                        <div class="card__wrapper--book bg-whiteblue">
                            <img src="../../assets/book2.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-darkblue">Learn English</h5>
                        <p class="card-text text-darkblue">&#8356;45</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-xs-5">
                <div class="card border-0 rounded-0">
                    <div class="position-relative">
                        <div class="overlay"></div>
                        <div class="card__wrapper--book bg-whiteblue">
                            <img src="../../assets/book3.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-darkblue">Dancing</h5>
                        <p class="card-text text-darkblue">&#8356;45</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-xs-5">
                <div class="card border-0 rounded-0">
                    <div class="position-relative">
                        <div class="overlay"></div>
                        <div class="card__wrapper--book bg-whiteblue">
                            <img src="../../assets/book4.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-darkblue">Space and Beyond</h5>
                        <p class="card-text text-darkblue">&#8356;80</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-xs-5">
                <div class="card border-0 rounded-0">
                    <div class="position-relative">
                        <div class="overlay"></div>
                        <div class="card__wrapper--book bg-whiteblue">
                            <img src="../../assets/book5.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-darkblue">Self Study</h5>
                        <p class="card-text text-darkblue">&#8356;100</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="newsSection" class="container-fluid px-0 py-5">
    <div class="container">
        <div class="title__wrapper--secondary text-darkblue yellowline--horizontal">
            <span>From the News</span>
        </div>
        <div class="title__wrapper--primary pb-5">
            <span>Lastest News</span>
        </div>
        <div id="newsContent" class="row">
            <div class="col-lg-4">
                <div class="card border-0 rounded-0">
                    <img src="../../assets/news_image_1.jpeg" class="card-img-top card__image--news" alt="...">
                    <div class="card-body px-0">
                        <div class="d-flex align-items-center">
                            <i class="far fa-calendar-alt mr-1 text-yellow"></i><span class="text-gray mr-3">17 JULY
                                2019</span>
                            <i class="far fa-calendar-alt mr-1 text-yellow"></i><span class="text-gray">MARK ALEN</span>
                        </div>
                        <h5 class="card-title text-darkblue py-2 font-weight-bold">Learn English Fast and Easy</h5>
                        <p>Scelerisque ante platea nullam himenaeos quam sollicitudin ullamcorper sodales tristique</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 rounded-0">
                    <img src="../../assets/news_image_3.jpeg" class="card-img-top card__image--news" alt="...">
                    <div class="card-body px-0">
                        <div class="d-flex align-items-center">
                            <i class="far fa-calendar-alt mr-1 text-yellow"></i><span class="text-gray mr-3">17 JULY
                                2019</span>
                            <i class="far fa-calendar-alt mr-1 text-yellow"></i><span class="text-gray">MARK ALEN</span>
                        </div>
                        <h5 class="card-title text-darkblue py-2 font-weight-bold">Free Online Courses</h5>
                        <p>Scelerisque ante platea nullam himenaeos quam sollicitudin ullamcorper sodales tristique</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 rounded-0">
                    <img src="../../assets/news_image_2.jpg" class="card-img-top card__image--news" alt="...">
                    <div class="card-body px-0">
                        <div class="d-flex align-items-center">
                            <i class="far fa-calendar-alt mr-1 text-yellow"></i><span class="text-gray mr-3">17 JULY
                                2019</span>
                            <i class="far fa-calendar-alt mr-1 text-yellow"></i><span class="text-gray">MARK ALEN</span>
                        </div>
                        <h5 class="card-title text-darkblue py-2 font-weight-bold">How to Learn Faster and Remember</h5>
                        <p>Scelerisque ante platea nullam himenaeos quam sollicitudin ullamcorper sodales tristique</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logo section -->
<div id="logoSection" class="container-fluid my-5 p-0">
    <div id="logoSectionContent" class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <img src="../../assets/icon1.png" alt="" width="100" height="100">
            </div>
            <div class="col-lg-2">
                <img src="../../assets/icon2.png" alt="" width="100" height="100">
            </div>
            <div class="col-lg-2">
                <img src="../../assets/icon3.png" alt="" width="100" height="100">
            </div>
            <div class="col-lg-2">
                <img src="../../assets/icon4.png" alt="" width="100" height="100">
            </div>
            <div class="col-lg-2">
                <img src="../../assets/icon5.png" alt="" width="100" height="100">
            </div>
        </div>
    </div>
</div>

<div id="btnMoveToTop">
    <i class="fas fa-chevron-up"></i>
</div>